<div class="comment">
    <div>
        <p>
            <%= com.content %>
        </p>
        <% if(locals.user.id==com.user.id){%>
            <a href="/comments/destroy/<%= com._id %>"><i class="fa-regular fa-trash-can"></i></a>
            <%} %>
    </div>
    <small>
        -- <%= com.user.name %>
    </small>
</div>