<link rel="stylesheet" href="/css/home.css">

<div class="create-post">
    <h1>Create Post</h1>
    <form class="cf" action="" method="POST">
        <div>
            <textarea name="message" type="text" id="input-message" placeholder="Type here"></textarea>
        </div>
        <input type="submit" value="Submit" id="input-submit">
    </form>
</div>