<link rel="stylesheet" href="/css/home.css">
<% if(locals.user){%>

    <div class="create-post">
        <h1>Create Post</h1>
        <form class="cf" action="/posts/create" method="POST">
            <div>
                <textarea name="content" type="text" id="input-message" placeholder="Type here"></textarea>
            </div>
            <input type="submit" value="Submit" id="input-submit">
        </form>
    </div>

    <div class="posts">
        <strong>Posts</strong>

        <ul class="alternating-colors">
            <% for(let post of posts){ %>
                <%- include("_post",{post:post})%>
                    <%}%>
        </ul>
    </div>
    <%} %>