$color_1: #4d5259;
$color_2: #fff;
$color_3: #8b95a5;
$color_4: #9b9b9b;
$color_5: #cac7c7;
$color_6: #48b0f7;
$font-family_1: Roboto, sans-serif;
$background-color_1: #fff;
$background-color_2: transparent;
$background-color_3: #e4e7ea;
$background-color_4: #f5f6f7;
$background-color_5: #48b0f7;
$background-color_6: #f9fafb;
$border-color_1: #e4e7ea;
$border-color_2: #f1f2f3;

.card-bordered {
  border: 1px solid #ebebeb;
}
.home {
  .page-content {
    position: fixed;
    bottom: -70px;
    right: -30px;
    .chat-card {
      background-color: $background-color_1;
    }
  }
  .page-container {
    position: fixed;
    bottom: -70px;
    right: -30px;
    .chat-card {
      background-color: $background-color_1;
    }
  }
}
.card {
  border: 0;
  border-radius: 0px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.padding {
  padding: 3rem !important;
}
.card-header {
  &:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px 20px;
  background-color: $background-color_2;
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
  .card-title {
    padding: 0;
    border: none;
  }
  > * {
    &:last-child {
      margin-right: 0;
    }
    margin-left: 8px;
    margin-right: 8px;
  }
}
h4.card-title {
  font-size: 17px;
}
.btn-secondary {
  color: $color_1 !important;
  background-color: $background-color_3;
  border-color: $border-color_1;
  color: $color_2;
}
.btn-xs {
  font-size: 11px;
  padding: 2px 8px;
  line-height: 18px;
  &:hover {
    color: $color_2 !important;
  }
}
.card-title {
  font-family: $font-family_1;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}
.ps-container {
  position: relative;
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none;
}
.media-chat {
  padding-right: 64px;
  margin-bottom: 0;
  padding-right: 64px;
  margin-bottom: 0;
  .media-body {
    -webkit-box-flex: initial;
    flex: initial;
    display: table;
    p {
      position: relative;
      padding: 6px 8px;
      margin: 4px 0;
      background-color: $background-color_4;
      border-radius: 3px;
      font-weight: 100;
      color: $color_4;
      position: relative;
      padding: 6px 8px;
      margin: 4px 0;
      background-color: $background-color_4;
      border-radius: 3px;
    }
    p.meta {
      background-color: $background-color_2 !important;
      padding: 0;
      opacity: 0.8;
    }
  }
}
.media {
  padding: 16px 12px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  padding: 16px 12px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  padding: 16px 12px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  .avatar {
    flex-shrink: 0;
  }
  > * {
    margin: 0 8px;
  }
}
.avatar {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 100%;
  background-color: $background-color_4;
  color: $color_3;
  text-transform: uppercase;
}
.media-body {
  min-width: 0;
}
.media-meta-day {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0;
  color: $color_3;
  opacity: 0.8;
  font-weight: 400;
  &::before {
    margin-right: 16px;
    content: "";
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
  }
  &::after {
    content: "";
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
    content: "";
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
    margin-left: 16px;
  }
}
.media-chat.media-chat-reverse {
  padding-right: 12px;
  padding-left: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  .media-body {
    p {
      float: right;
      clear: right;
      background-color: $background-color_5;
      color: $color_2;
    }
  }
}
.border-light {
  border-color: $border-color_2 !important;
}
.bt-1 {
  border-top: 1px solid #ebebeb !important;
}
.publisher {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 20px;
  background-color: $background-color_6;
  > * {
    &:first-child {
      margin-left: 0;
    }
    margin: 0 8px;
  }
}
.publisher-input {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: none;
  outline: none !important;
  background-color: $background-color_2;
}
button {
  font-family: $font-family_1;
  font-weight: 300;
}
input {
  font-family: $font-family_1;
  font-weight: 300;
}
optgroup {
  font-family: $font-family_1;
  font-weight: 300;
}
select {
  font-family: $font-family_1;
  font-weight: 300;
}
textarea {
  font-family: $font-family_1;
  font-weight: 300;
}
.publisher-btn {
  background-color: $background-color_2;
  border: none;
  color: $color_3;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: $background-color_2;
  border: none;
  color: $color_5;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.file-group {
  position: relative;
  overflow: hidden;
  input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 20px;
  }
}
.text-info {
  color: $color_6 !important;
}
